<nav class="navbar is-mint" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="app-name" class="navbar-item is-mint-hover is-size-3" href="/">
      <!-- src = rnd logo -->
      <!-- <img src="" width="112" height="28"> -->
      <span class="has-text-dark">Certificate&nbsp;</span>
      <span class="has-text-white">Generator</span>
    </a>

    <div class="navbar-item is-mint-hover">
      <div class="field is-grouped has-icons-left">
        <p class="control">
          <a href="https://github.com/yulyen/certificate_generator/tree/LAdevelop" class="tag is-small is-dark" target="_blank">
            <span class="icon is-left"><i class="fab fa-github fa-lg"></i></span>
            <span>Github</span>
          </a>
        </p>
      </div>
    </div>

    <a class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="mobile" class="navbar-menu">
    <div class="navbar-start">

    </div>

   <!--  <div class="navbar-end">
      <div class="navbar-item is-mint-hover is-relative">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <a href="">
              <span class="icon has-text-white la-js-btn">
                <i class="fas fa-question-circle fa-lg"></i>
              </span>
              <span class="is-size-6 has-text-dark la-js-navlabel">Help</span>
            </a>
          </div>
          <div class="dropdown-menu is-dark" role="menu">
            <div class="dropdown-content is-dark"></div>
          </div>
        </div>
      </div>

      <div class="navbar-item is-mint-hover is-relative">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <a href="">
              <span class="icon has-text-white la-js-btn">
                <i class="fas fa-cog fa-lg"></i>
              </span>
              <span class="is-size-6 has-text-dark la-js-navlabel">Settings</span>
            </a>
          </div>
          <div class="dropdown-menu is-dark" role="menu">
            <div class="dropdown-content is-dark"></div>
          </div>
        </div>
      </div>

      <div class="navbar-item is-mint-hover is-relative">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <a href="">
              <span class="icon has-text-white la-js-btn">
                <i class="fas fa-th fa-lg"></i>
              </span>
              <span class="is-size-6 has-text-dark la-js-navlabel">View Generated</span>
            </a>
          </div>
          <div class="dropdown-menu is-dark" role="menu">
            <div class="dropdown-content is-dark"></div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</nav>
