<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: rgb(170, 202, 177);">
  <div class="navbar-brand">
    <a id="app-name" class="navbar-item is-size-3" href="/">
      <!-- src = rnd logo -->
      <!-- <img src="" width="112" height="28"> -->
      <span class="has-text-dark">Certificate&nbsp;</span>
      <span class="has-text-white">Generator</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="">
          <span class="icon has-text-white">
            <i class="fas fa-question-circle fa-lg"></i>
          </span>
        </a>
      </div>

      <div class="navbar-item">
        <a href="">
          <span class="icon has-text-white">
            <i class="fas fa-cog fa-lg"></i>
          </span>
        </a>
      </div>

      <div class="navbar-item">
        <a href="">
          <span class="icon has-text-white">
            <i class="fas fa-th fa-lg"></i>
          </span>
        </a>
      </div>

      <div class="navbar-item">
        <div class="field is-grouped has-icons-left">
          <p class="control">
            <a href="https://github.com/yulyen/certificate_generator" class="button is-dark">
              <span class="icon is-left"><i class="fab fa-github fa-lg"></i></span>
              <span>Github</span>
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>
</nav>
