{% load static %}
<!-- Compiled and minified CSS for BULMA -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> -->
<link rel="stylesheet" href="{% static 'certgen/bulma.min.css' %}">

<!-- Font Family -->
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lora:wght@562&family=Montserrat:wght@300&display=swap" rel="stylesheet">

<!-- Fontawesome -->
<link rel="stylesheet" href="{% static 'certgen/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'certgen/fontawesome/css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'certgen/fontawesome/css/all.min.css' %}">

<!-- custom styles -->
<link rel="stylesheet" href="{% static 'certgen/css/certgen.css' %}">
