{% load static %}
<!-- Prism CSS -->
<!-- <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet"> -->

<!-- Compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

<!-- Compiled and minified JavaScript for Materialize CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Compiled and minified CSS for BULMA -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> -->
<link rel="stylesheet" href="{% static 'certgen/bulma.min.css' %}">

<!-- Font Family -->
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lora:wght@562&family=Montserrat:wght@300&display=swap" rel="stylesheet">

<!-- Fontawesome -->
<link rel="stylesheet" href="{% static 'certgen/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'certgen/fontawesome/css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'certgen/fontawesome/css/all.min.css' %}">

<!-- move to a css file after -->
<style>
    div.la-relative {
        position: relative;
    }
    div.la-absolute {
        position: absolute;
        top: 0;
        left: 0;
    }
    div.la-absolute-centered {
        position: absolute;
        top: 40%;
        left: 20%;
        right: 20%;
    }
    div.la-card-border-3 {
        border-style: solid;
        border-width: 3px;
        border-color: rgb(170, 202, 177);
    }
    div.la-card-border-1 {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(170, 202, 177);
    }
    .la-has-text-mint {
        color: rgb(170, 202, 177);
    }
    input.la-is-mint {
        background-color: rgb(170, 202, 177);
        color: white;
        width: 75%;
        text-align: center;
        outline-style: none;
        outline-color: black;
    }
    input.la-is-mint::placeholder {
        color: white;
    }
    input.la-is-mint:focus {
        border-color: rgb(170, 202, 177);
        box-shadow: none;
    }
    div.la-drag-drop {
        border: dashed 3px rgb(170, 202, 177);
        color: rgb(170, 202, 177);
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>
