div.upperleft {
    position: absolute;
    top: 0;
    left: 0;
}
div.upperright {
    position: absolute;
    top: 6px;
    right: 6px;
}
div.center {
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
}
.card.bordered {
    border-style: solid;
    border-width: 3px;
}
.card-content {
    padding-bottom: 50px;
}
.top-bordered {
    border-top-width: 1px;
    border-top-style: solid;
}
/*===============================================*/
input[type=text] {
    width: 75%;
    text-align: center;
}
/*===============================================*/
div.dropbox {
    border: dashed 3px;
    border-radius: 5px;
    padding: 5%;
}
.sharp-border {
    border-radius: 0 !important;
}
/* =============================================*/
/* ========= file drop zone ========= */
img.drop, .tag, .delete {
    /* .tag is hidden so js hover function can work accordingly */
    /* .delete will appear once image is uploaded */
    display: none;
}

.la-active {
    display: block;
}

/* ========= custom file upload ========= */
/* https://stackoverflow.com/questions/5813344/how-to-customize-input-type-file */
#upload-template, #upload-namesfile {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
label.upload-template {
    cursor: pointer;
}
