.la-zeus, .la-poseidon, .la-hades {
    display: none;
}

.la-active {
    display: block;
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

/* AJAX edit feature */
ul li .edit {
    display: none;
}

ul li.edit .edit {
    display: initial;
}

ul li.edit .no-edit {
    display: none;
}

/* learning drag and drop */
#drop-zone {
    border-width: 4px;
    border-style: dashed;
    height: 80px;
    widows: 60px;
}
