<!-- Compiled and minified CSS & JavaScript for BULMA -->
<!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
<head>
    {% load static %}
    {% include 'certgen/includes/styles.html' %}
</head>

<body style="background-color: rgb(170, 202, 177);">
  {% include 'certgen/includes/navbar-2.html' %}
  {% include 'certgen/includes/messaging.html' %}

  <div class="box">
   {% block content %}
   {% endblock %}
  </div>
</body>

{% include 'certgen/includes/scripts.html' %}
