{% extends 'certgen/header.html' %}

{% block content %}
{% load static %}
<!-- <div class="row">
    {% for c in categories %}
    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title">{{c.tutorial_category}}</span>
          <p>{{c.category_summary|safe}}</p>
        </div>
        <div class="card-action">
          <i class="fas fa-book"></i>
          <a href="{{c.category_slug}}">View</a>
        </div>
      </div>
    </div>
    {% endfor%}
</div> -->
<div class="columns is-7 is-variable">
  <div class="column"></div>
  <div class="column is-4">

    <div class="card is-overlay la-relative la-card-border-3">
      <div class="card-image">
        <figure class="image is-3by2 la-relative">
          <img src="" alt="Names">
          <div class="la-drag-drop has-text-centered la-absolute-centered">Drop image here</div>
        </figure>
        <div class="has-text-weight-normal la-absolute-upperleft">
          <span class="tag is-large has-text-white" style="background-color: rgb(170, 202, 177); border-radius:0;">
            Certificate Template
          </span>
        </div>
      </div>

      <div class="card-content la-card-divider">
        <div class="content has-text-centered">
          <a href="" class="is-size-4 la-has-text-mint">Choose Photo</a>
          <p class="la-has-text-mint">--- or ---</p>
          <input type="text" class="input is-size-7 la-textbox la-is-mint" placeholder="Paste image URL here">
        </div>
        <!-- div.content for spacing; perhaps search for other ways and exclude this from code -->
        <div class="content"></div>
      </div>

    </div>
    <div class="has-text-weight-normal">
      <span class="tag is-large" style="background-color: rgb(170, 202, 177); border-radius:0;">
        <a href="" class="la-has-text-white">POSITION PLACEHOLDER</a>
      </span>
    </div>

  </div>

  <div class="column is-4">

    <div class="card is-overlay la-relative la-card-border-3">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="{% static 'certgen/certificate_template_2.png' %}" alt="Names">
        </figure>
        <div class="has-text-weight-normal la-absolute-upperleft">
          <span class="tag is-large has-text-white" style="background-color: rgb(170, 202, 177); border-radius:0;">
            File containing Names
          </span>
        </div>
      </div>

      <div class="card-content la-card-divider">
        <div class="content has-text-centered">
          <a href="" class="is-size-4 la-has-text-mint">Choose File</a>
          <p class="la-has-text-mint">--- or ---</p>
          <input type="text" class="input is-size-7 la-textbox la-is-mint" placeholder="Paste names here">
        </div>
        <!-- div.content for spacing; perhaps search for other ways and exclude this from code -->
        <div class="content"></div>
      </div>

    </div>
    <div class="has-text-weight-normal is-pulled-right">
      <div class="tag is-large" style="background-color: rgb(170, 202, 177); border-radius:0;">
        <a href="" class="la-has-text-white">GENERATE</a>
      </div>
    </div>

  </div>
  <div class="column"></div>
</div>
{% endblock %}
