{% extends 'certgen/layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'certgen/css/certgen.css' %}">
<link rel="stylesheet" href="{% static 'certgen/css/colors.css' %}">
{% endblock %}

{% block content %}
<div id="certificate-modal" class="modal">
  <div data-modal-id="certificate-modal" class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3"><img src=""></p>
  </div>
  <button data-modal-id="certificate-modal" class="modal-close is-large" aria-label="close"></button>
</div>

<div class="columns is-9 is-variable">
  <div class="column"></div>

  <div class="column is-4">
    <!-- certificate-template-card -->
    <div class="card bordered">
      <div id="template-thumb" class="card-image drop-zone" ondrop="dropHandler(event, this);" ondragover="dragOverHandler(event);">
        <!-- = = = = = = = = = IMAGE SECTION = = = = = = = = = = = = -->
        <figure class="image is-3by2">
          <img data-modal-id="certificate-modal" class="drop" src="" alt="Certificate">
          <div class="drop la-active" href="">
            <div class="dropbox center has-text-centered">
              Drop image here
            </div>
          </div>
        </figure>

        <div class="has-text-weight-normal upperleft">
          <span class="tag is-medium is-mint sharp-border">
            Certificate Template
          </span>
        </div>

        <div class="upperright">
          <button data-card-img-id="template-thumb" class="delete is-medium remove-file"></button>
        </div>

      </div>
      <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
      <div class="card-content top-bordered">
        <div class="content has-text-centered">
          <label for="upload-template" class="is-size-4 has-text-mint upload-template">Choose Photo</label>
          <input type="file" name="photo" id="upload-template">
          <p class="has-text-mint">--- or ---</p>
          <input type="text" class="input is-size-7 is-mint" placeholder="Paste image URL here">
        </div>
      </div>

    </div>

    <div class="has-text-weight-normal">
        <a><span class="tag is-medium is-mint sharp-border">
            POSITION PLACEHOLDER
        </span></a>
    </div>
    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
  </div>


  <div class="column is-4">
    <!-- names-card -->
    <div class="card bordered">

      <div id="certificate-thumb" class="card-image drop-zone" ondrop="dropHandler(event, this);" ondragover="dragOverHandler(event);">
      <!-- = = = = = = = = = IMAGE SECTION = = = = = = = = = = = = -->
        <figure class="image is-3by2">
          <img data-modal-id="certificate-modal" class="drop" src="" alt="Certificate">
          <div class="drop la-active" href="">
            <div class="dropbox center has-text-centered">
              Drop file here
            </div>
          </div>
        </figure>

        <div class="has-text-weight-normal upperleft">
          <span class="tag is-medium is-mint sharp-border">
            File Containing Names
          </span>
        </div>

        <div class="upperright">
            <button data-card-img-id="certificate-thumb" class="delete is-medium remove-file"></button>
        </div>
      </div>
      <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
      <div class="card-content top-bordered">
        <div class="content has-text-centered">
          <a href="" class="is-size-4 has-text-mint">Choose File</a>
          <p class="has-text-mint">--- or ---</p>
          <input type="text" class="input is-size-7 is-mint" placeholder="Paste comma-separated names here">
        </div>
      </div>

    </div>
    <div class="has-text-weight-normal is-pulled-right">
        <a><span class="tag is-medium is-mint sharp-border">
            GENERATE
        </span></a>
    </div>
  <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
  </div>

  <div class="column"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'certgen/js/certgen.js' %}"></script>
{% endblock %}
