<!DOCTYPE html>
<html class="is-mint" lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% include 'certgen/includes/styles.html' %}
    {% block styles %}{% endblock %}
    <title>Certificate Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include 'certgen/includes/navbar.html' %}
    <div class="box">
        <br>
        {% block content %}{% endblock %}
    </div>
    {% include 'certgen/includes/scripts.html' %}
</body>
{% block scripts %}{% endblock %}

</html>


