<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% include 'certgen/includes/styles.html' %}
    {% block styles %}{% endblock %}
    <title>Certificate Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include 'certgen/includes/navbar.html' %}
    <div id="layout" class="columns is-mobile is-marginless">
        <div id="body" class="column">
            <div id="content" class="box is-mobile is-shadowless">
                <br>
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>
    {% include 'certgen/includes/scripts.html' %}
</body>
{% block scripts %}{% endblock %}

</html>


