{% extends 'certgen/header.html' %}

{% block content %}
{% load static %}
    <div class="tabs is-centered is-medium is-boxed">
        <ul>
            <li rel="la-zeus">
                <a>
                    <span class="icon is-small"><i class="fa fa-bolt"></i></span>
                    <span>Cabin Zeus</span>
                </a>
            </li>
            <li class="is-active" rel="la-poseidon">
                <a>
                    <span class="icon is-small"><i class="fa fa-tint"></i></span>
                    <span>Cabin Poseidon</span>
                </a>
            </li>
            <li rel="la-hades">
                <a>
                    <span class="icon is-small"><i class="fa fa-cloud"></i></span>
                    <span>Cabin Hades</span>
                </a>
            </li>
        </ul>
    </div>

    <div>
        <article class="message is-dark la-poseidon">
            <div class="message-header la-is-mint">
                <p class="is-size-5">Perseus Jackson</p>
                <button class="delete"></button>
            </div>
            <div class="message-body">
                He mourns, he lost Annabeth and he can't take part upon the quest that'll
                involve saving her. His mom once again empowers Percy the way Poseidon
                does. Blackjack enters, and he embarks upon a journey, with the sea as
                the first stop.
            </div>
        </article>

        <nav class="panel la-zeus">
            <p class="panel-heading la-is-mint">Thalia</p>
            <p class="panel-tabs">
                <a class="is-active">Thalia</a>
                <a>Hercules</a>
                <a>Perseus</a>
            </p>
            <a class="panel-block is-active">Save Annabeth Chase</a>
            <a class="panel-block">Kick Zoe Nightshade</a>
            <a class="panel-block">Hang out with Grover Underwood</a>
            <a class="panel-block">Fight Percy Jackson</a>
            <a class="panel-block"><input type="checkbox">Turn on lightning</a>
        </nav>

        <div class="la-hades">
            <p>Darkness loading...</p>
            <progress class="progress" value="15" max="100">15%</progress>
            <div>
                <div class="title">
                    <h1>Image Slider</h1>
                </div>
                <h2>use for viewing generated certificates</h2>
                <div id="slider">
                    <ul class="slides">
                        <li class="slide"><img src="{% static 'certgen/bakugo.png' %}" alt=""></li>
                        <li class="slide"><img src="{% static 'certgen/bakugo1.jpg' %}" alt=""></li>
                        <li class="slide"><img src="{% static 'certgen/atla_dance_craze_6.gif' %}" alt=""></li>
                        <li class="slide"><img src="{% static 'certgen/random_fb_stuff.gif' %}" alt=""></li>
                        <li class="slide"><img src="{% static 'certgen/bakugo.png' %}" alt=""></li>
                    </ul>
                </div>
            </div>

            <br><br>

            <h1 class="title">Ajax Practice</h1>

            <h2 class="is-size-4">Orders</h2>
            <ul id="orders"></ul>

            <h4>Add a meal order:</h4>
            <p class="is-size-6">name: <input type="text" id="name"></p>
            <p class="is-size-6">meal: <input type="text" id="meal"></p>
            <button class="button is-dark" id="add-order">Add!</button>

        </div>
    </div>
{% endblock %}
