{% extends 'certgen/header.html' %}

{% block content %}
<div class="row">
  <div class="col s12 m8 l8">
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">{{tutorial.title}}</span>
        <p style="font-size:70%;">{{tutorial.published}}</p>
        <p>{{tutorial.content|safe}}</p>
        <p>{{tutorial.content|safe}}</p>
        <p>{{tutorial.content|safe}}</p>
        <p>{{tutorial.content|safe}}</p>
        <p>{{tutorial.content|safe}}</p>
        <p>{{tutorial.content|safe}}</p>
        <p>{{tutorial.content|safe}}</p>
        <p>idx: {{this_tutorial_idx}}</p>
      </div>
      <div class="card-action">
        <a href="{{tutorial.tutorial_slug}}">View</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4 l4">
    <ul class="collapsible popout">
      {% for tutorial in sidebar %}
        {% if forloop.counter0 == this_tutorial_idx %}
          <li class="active">
            <div class="collapsible-header">
              {{tutorial.title}}<br>(currently viewing)
            </div>
          </li>
        {% else %}
          <li>
            <div class="collapsible-header">{{tutorial.title}}</div>
            <div class="collapsible-body">
              <p><a href="/{{tutorial.tutorial_slug}}">
                <button class="button is-dark is-outlined">Go</button>
              </a></p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
